.sign-in {
  width: 700px;
  display: flex;
  flex-direction: column;
  margin-right:100px;


  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}