.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 60px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
  
      .option {
        padding: 10px 12px;
        font-weight:500;
        font-size:1.1rem;
        cursor:pointer;
      }
    }
  }