body {
    font-family: 'Open Sans Condensed';
    padding: 20px 70px;
    background-color: rgb(148, 186, 255);
  }
  
a{
    text-decoration: none;
    color: black;
}

*{
  box-sizing: border-box;
}